[submodule "TradescantiaEngine/ThirdParty/spdlog"]
	path = TradescantiaEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TradescantiaEngine/ThirdParty/glm"]
	path = TradescantiaEngine/ThirdParty/glm
	url = https://github.com/g-truc/glm
