[submodule "TradescantiaEngine/vendor/spdlog"]
	path = TradescantiaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TradescantiaEngine/ThirdParty/GLFW"]
	path = TradescantiaEngine/ThirdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "TradescantiaEngine/ThirdParty/ImGui"]
	path = TradescantiaEngine/ThirdParty/ImGui
	url = https://github.com/ocornut/imgui
